footer
{
    background-color: $color-light-black;
    padding: 20px;
    h2
    {
        color: white;
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
    }
    p
    {
        color:white;
        line-height: 2;
    }
    a
    {
        color:white;
        text-decoration: none;
    }
}