footer
{
    background-color: black;
    padding: 20px;
    h2
    {
        color: white;
        font-family: 'Shrikhand', cursive;
        font-style: italic;
        font-weight: 300;
    }
    p
    {
        color:white;
        line-height: 2;
    }
}