header
{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 15px;
}

header img
{
    width: 200px;
    margin:auto;
}

header a
{
    color:black;
    margin-left:15px;
}