@charset "UTF-8";
@font-face {
  font-family: "title-font";
  src: url();
}
body {
  font-family: Roboto, sans-serif;
}

@keyframes apparition {
  from {
    opacity: 0;
    margin-top: 5px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
header {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 15px;
}

header img {
  width: 200px;
  margin: auto;
}

header a {
  color: black;
  margin-left: 15px;
}

footer {
  background-color: #353535;
  padding: 20px;
}
footer h2 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}
footer p {
  color: white;
  line-height: 2;
}

.sec-location {
  width: 50%;
  margin: auto;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
@media (max-width: 425px) {
  .sec-location {
    width: 100%;
  }
}
.sec-location__info-name {
  background-color: #eaeaea;
  text-align: center;
  padding: 9px;
}
.sec-location h1 {
  text-align: center;
  width: 80%;
  margin: auto;
  margin: 15px;
}
.sec-location p {
  text-align: center;
  margin: auto;
  width: 95%;
}
.sec-location__btn-explore {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 45px;
  border: none;
  width: 200px;
  color: white;
  font-weight: bold;
  margin: auto;
  margin: 24px auto;
}

.fonctionnement__step {
  display: flex;
  justify-content: space-evenly;
}
.fonctionnement__step__explain {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  padding: 15px 50px;
  width: 80%;
  margin: auto;
  margin: 15px;
  box-shadow: 1px 1px 5px black;
  border-radius: 25px;
}
.fonctionnement__step__explain .fas {
  margin: 15px;
  color: #353535;
}
.fonctionnement__step__explain h2 {
  font-size: 18px;
  font-weight: 600;
}
.fonctionnement__step__explain .number-circle {
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 100%;
  font-weight: bold;
  color: white;
}
.fonctionnement__step__explain:hover {
  background-color: #eaeaea;
}
.fonctionnement__step__explain:hover .fas {
  color: #9356DC;
}
@media (max-width: 425px) {
  .fonctionnement__step {
    display: block;
  }
  .fonctionnement__step .fonctionnement__step__explain {
    width: 85%;
    padding: 15px;
  }
}

.all-restaurant__list-resto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f6f6f6;
  padding: 15px;
}
.all-restaurant__list-resto img {
  width: 100%;
  height: 500px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.all-restaurant__list-resto__new {
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  border-radius: 5px;
  width: max-content;
  padding: 10px 15px;
  position: absolute;
  right: 15px;
  top: 5px;
}
.all-restaurant__list-resto__restaurant {
  margin: 15px auto;
  border-radius: 15px;
  position: relative;
  width: 95%;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
}
.all-restaurant__list-resto__restaurant a {
  color: black;
  text-decoration: none;
}
.all-restaurant__list-resto__restaurant__description {
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
}
.all-restaurant__list-resto__restaurant__description h2 {
  padding: 0;
  margin: 5px;
  font-size: 18px;
}
.all-restaurant__list-resto__restaurant__description p {
  margin: 5px;
}
.all-restaurant__list-resto__restaurant__description .rate {
  position: absolute;
  right: 15px;
}
.all-restaurant__list-resto__restaurant__description .rate:hover > .fill {
  opacity: 1;
}
.all-restaurant__list-resto__restaurant__description .rate .fill {
  position: absolute;
  color: #9356DC;
  opacity: 0;
  transition: 500ms;
}
@media (max-width: 425px) {
  .all-restaurant__list-resto {
    display: block;
  }
  .all-restaurant__list-resto img {
    height: 200px;
  }
}

.image-resto {
  width: 100%;
  z-index: 0;
}

.background-resto {
  width: 100%;
  height: 1300px;
  background-position: center;
  background-size: cover;
}
@media (max-width: 425px) {
  .background-resto {
    height: 200px;
  }
}

.french {
  background-image: url("/public/images/restaurants/frenchTouch.jpg");
}

.delice {
  background-image: url("/public/images/restaurants/Delice.jpg");
}

.palette {
  background-image: url("/public/images/restaurants/palette.jpg");
}

.la-note {
  background-image: url("/public/images/restaurants/LaNote.jpg");
}

.carte-restaurant {
  z-index: 5;
  background-color: #f6f6f6;
  border-radius: 45px 45px 0 0;
  padding: 15px;
  width: 50%;
  margin-top: -80%;
  margin-left: auto;
  margin-right: auto;
}
.carte-restaurant .titre-catégorie {
  width: 65px;
  border-bottom: 3px solid #99E2D0;
  font-weight: normal;
}
.carte-restaurant h1 {
  display: flex;
  position: relative;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 300;
}
.carte-restaurant h1 .fa-heart {
  position: absolute;
  right: 10px;
}
.carte-restaurant h2 {
  text-transform: uppercase;
}
.carte-restaurant .btn-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.carte-restaurant__command {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 45px;
  border: none;
  width: 200px;
  color: white;
  font-weight: bold;
  margin: auto;
}
.carte-restaurant__plat {
  display: flex;
  align-items: flex-end;
  background-color: white;
  animation: apparition 1500ms ease-in-out;
  width: 80%;
  height: 75px;
  margin: 20px auto;
  overflow: hidden;
  transition-duration: 500ms;
  opacity: 1s;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
}
.carte-restaurant__plat:hover .check-box {
  opacity: 1;
}
.carte-restaurant__plat:hover .check-box > .check-box__spinner {
  transform: rotate(360deg);
}
.carte-restaurant__plat__menu {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte-restaurant__plat__menu .prix {
  font-weight: bold;
}
.carte-restaurant__plat__menu__description {
  text-align: left;
}
.carte-restaurant__plat__menu__description h3 {
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
}
.carte-restaurant__plat__menu__description p {
  margin: 10px;
}
.carte-restaurant__plat .check-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 60px;
  height: 80px;
  transition: all 500ms;
  transform: translateX(0);
  opacity: 0;
}
.carte-restaurant__plat .check-box .check-box__spinner {
  transition: transform 1s;
  animation-timing-function: ease-in-out;
}
.carte-restaurant__plat .check-box .check-box__spinner .fas {
  font-size: 20px;
  color: white;
}
@media (max-width: 425px) {
  .carte-restaurant {
    width: 92%;
    margin-top: -50px;
  }
  .carte-restaurant__plat {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
