@charset "UTF-8";
@font-face {
  font-family: "title-font";
  src: url();
}
body {
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: white;
}

header img {
  width: 200px;
  margin: auto;
}

header a {
  color: black;
  margin-left: 15px;
}

footer {
  background-color: black;
  padding: 20px;
}
footer h2 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}
footer p {
  color: white;
  line-height: 2;
}

.sec-location {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.sec-location__info-name {
  background-color: silver;
  text-align: center;
  padding: 9px;
}
.sec-location h1 {
  text-align: center;
  width: 80%;
  margin: auto;
  margin: 15px;
}
.sec-location p {
  text-align: center;
  margin: auto;
  width: 95%;
}
.sec-location__btn-explore {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 45px;
  border: none;
  width: 200px;
  color: white;
  font-weight: bold;
  margin: auto;
  margin: 24px auto;
}
.sec-location__btn-explore :hover {
  border: 1px solid black;
}

.fonctionnement__explain-step {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
  margin: 15px;
  box-shadow: 1px 1px 3px black;
  border-radius: 45px;
}
.fonctionnement__explain-step .fas {
  margin: 15px;
}
.fonctionnement__explain-step h2 {
  font-size: 18px;
  font-weight: 600;
}
.fonctionnement__explain-step .number-circle {
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 100%;
  font-weight: bold;
  color: white;
}
.fonctionnement__explain-step:hover {
  background-color: #e3ccff;
}
.fonctionnement__explain-step:hover .fas {
  color: #9356DC;
}

.all-restaurant {
  background-color: #f0f0f0;
  padding: 15px;
}
.all-restaurant img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.all-restaurant__new {
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  border-radius: 5px;
  width: max-content;
  padding: 10px 15px;
  position: absolute;
  right: 15px;
  top: 5px;
}
.all-restaurant__restaurant {
  margin: 15px auto;
  border-radius: 15px;
  position: relative;
  width: 95%;
  background-color: white;
}
.all-restaurant__restaurant a {
  color: black;
  text-decoration: none;
}
.all-restaurant__restaurant__description {
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
}
.all-restaurant__restaurant__description h2 {
  padding: 0;
  margin: 0;
}
.all-restaurant__restaurant__description p {
  margin: 5px;
}
.all-restaurant__restaurant__description .fa-heart {
  position: absolute;
  right: 20px;
  color: black;
  font-size: 22px;
}

.image-resto {
  width: 100%;
}

.carte-restaurant {
  background-color: whitesmoke;
  border-radius: 45px 45px 0 0;
  padding: 15px;
}
.carte-restaurant .titre-catégorie {
  text-decoration: underline #99E2D0;
  font-weight: normal;
}
.carte-restaurant h1 {
  display: flex;
  position: relative;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 300;
}
.carte-restaurant h1 .fa-heart {
  position: absolute;
  right: 10px;
}
.carte-restaurant h2 {
  text-transform: uppercase;
}
.carte-restaurant .btn-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.carte-restaurant__command {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 45px;
  border: none;
  width: 200px;
  color: white;
  font-weight: bold;
  margin: auto;
}
.carte-restaurant__command :hover {
  border: 1px solid black;
}
.carte-restaurant__plat {
  display: flex;
  align-items: flex-end;
  position: relative;
  background-color: white;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
}
.carte-restaurant__plat .prix {
  position: absolute;
  right: 15px;
  font-weight: bold;
}
.carte-restaurant__plat__description {
  text-align: left;
}
.carte-restaurant__plat__description h3 {
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
}
.carte-restaurant__plat__description p {
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
