.container-spinner
{
    z-index: 2;
    position: absolute;
    border:1px solid black;
    


    background-color: $color-terciar;
    border-radius: 25px;

    left:calc(50vw - 75px);
    top:calc(50vh - 75px);

    width:150px;
    height: 150px;

    animation: disparition-total 1s forwards;
    animation-delay: 2s;
    pointer-events:none;


    &__bar
    {
        position:absolute;
        left:100px;
        top:70px;
        transform-origin: -25px 5px;
        background-color: white;
        width:40px;
        height:15px;
        animation: bars-spinner 1s infinite ease-in-out alternate ;

        @for $i from 0 through 7
        {
            &--#{$i}
            {
                transform:rotateZ(45deg * $i);
                animation-delay: 200ms * $i;
            }
        }
    }
}