.sec-location
{
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    &__info-name
    {
        background-color: silver;
        text-align: center;
        padding:9px;
    }

    h1
    {
        text-align: center;
        width:80%;
        margin:auto;
        margin:15px;
    }
    p
    {
        text-align: center;
        margin:auto;
        width:95%;
    }

    &__btn-explore
    {
       @include S_button;
       margin:24px auto;
    }
}