.all-restaurant
{
    background-color: rgb(240, 240, 240);
    padding:15px;
    img
    {
        width:100%;
        height:200px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    &__new
    {
        background-color: $color-terciar;
        color: darken($color: $color-terciar, $amount: 35);

        font-weight: bold;
        border-radius: 5px;
        width: max-content;
        padding:10px 15px;
        position: absolute; 
        right:15px;
        top: 5px;
    }

    &__restaurant
    {
        margin:15px auto;
        border-radius: 15px;
        position: relative;
        width:95%;
        background-color: white;
        a
        {
            color:black;
            text-decoration: none;
        }
        &__description
        {
            display: flex;
            align-items: center;
            padding:5px;
            position:relative;

            h2
            {
                padding:0;
                margin:0;
            }
            p
            {
                margin:5px;
            }
            .fa-heart
            {
                position: absolute;
                right:20px;
                color:black;
                font-size: 22px;
            }
        }
    }
}
