@mixin S_button
{
    background:linear-gradient($color-secondary, $color-primary);

    padding:15px;
    border-radius: 45px;
    border:none;
    width:200px;
    color:white;
    font-weight:bold;
    margin:auto;
}